@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');

body{
	font-family: 'Kirang Haerang', cursive;
	background-color: black;
	color: white;
}

.jumbotron{
	background-image: url(../images/psyc.gif);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color:black !important;
}

#lettersGuessed{
	font-size: 30px;
	color: yellow;
}

#guesses-left{
	font-size: 30px;
	color: rgb(32, 103, 255);
}

#wins{
	font-size: 30px;
	color: greenyellow;
}

#losses{
	font-size: 30px;
	color: red;
}

.buttons-wrap {
	margin: 20px;
}

.letter-button {
	padding: 10px 15px;
}

.letter-button-color{
	color:greenyellow;
	border-color:rgb(32, 103, 255);
	background-color: black;
	border-radius: 15px;
	font-size: 24px;
	margin: 1px;
}

@media only screen and (max-width: 600px) {
	.jumbotron{
		display: none;
	}
	#buttons{
		font-size: 20px;
	}
}